:root {
    --primary: rgb(245, 138, 17);
    --secondary: #6ABF48;
        
    --gray6: #404040;
    --gray5: #565656;
    --gray4: #767676;
    --gray3: #a3a3a3;
    --gray2: #c7c7c7;
    --gray1: #e4e4e4;
    --transparent4: #4F4F4F46;
    --transparent3: #80808046;
    --transparent2: #ABABAB46;
    --transparent1: #C9C9C946;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins', sans-serif;
}

.d-none{
    display: none;
}

.overflow-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disable-select{
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.textfield {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray2);
    border-radius: 8px;
    padding: 8px 12px;
}

.textfield:focus-within {
    border-color: var(--primary);
}

.textfield img{
    height: 16px;
    width: 16px;
}

.textfield input {
    border: none;
    outline: none;
    flex-grow: 1;
    min-width: 0;
    margin: 0 4px;
    background-color: transparent;
}

.loader {
    border: 5px solid var(--transparent4);
    border-top: 5px solid var(--primary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loader-spin 1s linear infinite;
}
  
@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.shimmer{
    overflow: hidden;
    position: relative;
    background-color: var(--gray1);
    border-radius: 12px;
    height: 50px;
    width: 50px;
}

.shimmer__animation{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, var(--gray3) 50%, transparent 100%);
    animation: shimmer-animation 1.5s infinite;
}

@keyframes shimmer-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}