
body{
    color: var(--gray6);
}
header{
    box-sizing: border-box;
    padding: 4px 8px;
}

#user-search-form .textfield{
    max-width: 240px;
    margin-left: auto;
}

main{
    position: relative;
    box-sizing: border-box;
    min-height: calc(100vh - 70px);
    max-width: 992px;
    padding: 12px 12px 24px;
    margin: auto;
}

/* User Profile */
#user-profile{
    display: flex;
    align-items: center;
}

#user-avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 12px;
}

.user-info{
    margin: 0 20px;
    color: var(--gray5);
    font-size: 0.9em;
}

.user-info p,a{
    margin: 0.3em 0;
}

#user-name{
    font-size: 1.8em;
    color: var(--gray6);
}

.icon-label{
    display: flex;
    align-items: center;
    text-align: left;
}
.icon-label img{
    margin-right: 12px;
    height: 16px;
    width: 16px;
}
.icon-label a{
    text-decoration: none;
}

/* User Repositories */
#repos-container{
    position: relative;
    min-height: calc(100vh - 350px);
    margin: 24px 0 24px;
}
#repos-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.repo{
    box-sizing: border-box;
    padding: 12px 16px 8px;
    border-radius: 12px;
    border: 1px solid var(--gray2);
    overflow: hidden;
}

.repo__name{
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0;
}

.repo__description{
    color: var(--gray5);
    font-size: 0.8em;
    margin: 0.5em 0;
}

.repo__topics{
    display: flex;
    flex-wrap: wrap;
}
.repo__topics span{
    background-color: var(--transparent3);
    max-width: 140px;
    font-size: 0.8em;
    padding: 4px 12px;
    margin: 2px 4px 4px 0;
    border-radius: 100px;
}

/* Respository Pagination */
#pagination{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#page-size-dropdown{
    border: 1px solid var(--gray2);
    padding: 8px 12px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 12px;
}

#page-size-dropdown:focus{
    outline: none;
}

#page-size-dropdown:hover{
    background-color: var(--transparent1);
}

#page-size-dropdown option{
    background-color: white;
}

.page-count span{
    display: inline-block;
    text-align: center;
    min-width: 14px;
    margin: 2px 1px;
    padding: 4px 8px;
    border: 1px solid var(--gray2);
    border-radius: 4px;
    cursor: pointer;
}

.page-count .selected{
    border-color: var(--primary);
    background-color: var(--primary);
    color: white;
}

.page-count .disabled{
    background-color: var(--transparent2);
    cursor:default;
}


@media  only screen and (max-width: 640px){
    #user-profile{
        flex-direction: column;
        text-align: center;
    }

    #user-avatar{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 12px;
    }

    #repos-list{
        grid-template-columns: auto;
    }
}
